/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include respond-to('medium') {
 * 11 | |       text-align: center;
 * 12 | |       @include relative-converter(font-size, rem, $xxx-large, 16);
 * 13 | |       font-weight: $bold;
 * 14 | |       margin: 0 0 5% 0;
 * 15 | \     }
 *    '
 *   layout\_caracteristicas.scss 10:5  @import
 *   main.scss 6:9                      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include respond-to('medium') {\a 11 \2502  \2502        text-align: center;\a 12 \2502  \2502        @include relative-converter(font-size, rem, $xxx-large, 16);\a 13 \2502  \2502        font-weight: $bold;\a 14 \2502  \2502        margin: 0 0 5% 0;\a 15 \2502  \2514      }\a    \2575 \a   layout\\_caracteristicas.scss 10:5  @import\a   main.scss 6:9                      root stylesheet";
}
